<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <title>Emotion Detector</title>
  <style type="text/css">
    
  </style>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-info" style="height: 90px;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="">
      <ul class="navbar-nav text-center" style="margin-left: 55px; width: 90%;">
        <li class="nav-item" >
          <a class="nav-link fs-4" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4 pr-5" href="#">Pricing</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container m-5 flex flex-col" style="height: 500px;">
  <img src="..." class="img-fluid" alt="...">
</div>

<div class="container p-5 bg-info text-center rounded-pill" style="height: 500px;">
  <h2 class="pb-3 border-bottom border-light">Title</h2>
  <p class="pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet commodo nulla facilisi nullam. Eu turpis egestas pretium aenean pharetra magna. Lacus laoreet non curabitur gravida arcu ac tortor dignissim. Bibendum at varius vel pharetra vel turpis nunc eget lorem. Duis tristique sollicitudin nibh sit amet. Parturient montes nascetur ridiculus mus mauris vitae ultricies. Auctor urna nunc id cursus metus. Pretium fusce id velit ut tortor. Ut consequat semper viverra nam libero justo. Elementum nibh tellus molestie nunc non. Aliquam nulla facilisi cras fermentum odio eu feugiat pretium.</p>
</div>

<p class="" id="result"> {{value}} </p>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" src="//code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
  /*setTimeout(() => { 
    document.getElementById("demo").innerHTML = "Model Loaded. Record live or upload a pre-recorded clip";
  }, 2000)*/
</script>
</body>
</html>
